body {
    font-family: 'Roboto'!important;
}
header {
    width: 100%;
    /*height: 120vh;*/
}
.headerHeading {
    font-size: 76px;
}
.headerPadding {
    font-size: 20px;
    width: 60%;
}
/* Bring Life Section */
.bringLifeSection {
    height: 100vh;
    background-image: url("../img/bringLifeSection.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bringLifeHeading {
    font-size: 52px;
}
.bringLifeParagraph {
    font-size: 20px;
}
/* Effort Less Expression Section */
.effortLessExpression {
    background-color: #F5F4F0;
    height: 125vh;
    background-image: url("../img/effortLessExpression.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
footer a, footer h1 {
    text-decoration: none;
    color: white;
    font-weight: 400;
}
footer a:hover {
    color: #F9C346;
}
.footerPartOne {
    border-bottom: 1px solid #FFFFFF4D;
}
.copyright {
    color: #FFFFFFB2;
}